@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
:root {
  --primary-color: #19181f;
  --secondary-color: #1e1e26;
  --text-color: #f1f1f1;
  --acent-color: #07d962;
  --border-color-menu: rgba(255, 255, 255, 0.1);
  --bg-hover: #67159c;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: antialiased;
  font-smooth: antialiased;
  background-color: var(--primary-color);
  color: var(--text-color);
}

input,
button,
textarea,
select,
option {
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
}
.wraper {
  height: 100%;
  width: 100%;
}

.wraper header {
  width: 100%;
  height: 60px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.wraper header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wraper header .logo svg {
  width: 40px;
  margin: 0 10px;
  fill: var(--acent-color) !important;
}

.wraper header .logo img {
  margin-right: 10px;
}

.wraper header .logo h3 {
  border-left: 1px solid var(--border-color-menu);
  color: var(--acent-color);
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 10px;
}

.wraper header .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.wraper header .links a {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.wraper header .links a:hover {
  color: var(--acent-color);
}

.wraper header .links a + a {
  border-left: 1px solid var(--border-color-menu);
}

.wraper header .perfil {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wraper header .perfil img {
  border-radius: 100%;
  width: 40px;
  margin-right: 20px;
  border: 4px solid var(--primary-color);
}

.wraper header .perfil .perfil-text {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0 10px;
  padding-left: 10px;
  border-left: 1px solid var(--border-color-menu);
}

.wraper header .perfil .toggle-theme {
  width: 40px;
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wraper header .perfil .toggle-theme label {
  cursor: pointer;
  width: 100%;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  padding: 0 2px;
  justify-content: flex-start;
}

.wraper header .perfil .toggle-theme label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: translateX(0);
  transition: all 100ms linear;
}

.wraper
  header
  .perfil
  .toggle-theme
  input[type="checkbox"]:checked
  ~ label::after {
  background-color: var(--acent-color);
  transform: translateX(125%);
}

.wraper header .perfil .toggle-theme input[type="checkbox"] {
  display: none;
}

.wraper header .perfil .perfil-text strong {
  font-size: 14px;
}

.wraper header .perfil .perfil-text span {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.3);
}

.wraper .logon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.wraper .logon svg {
  fill: var(--acent-color);
  width: 200px;
  height: 200px;
}

.wraper .logon form {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wraper .logon form input, input, select {
  border: 0;
  background-color: var(--secondary-color);
  padding: 11px 13px;
  color: #f1f1f1;
  font-size: 16px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.wraper .logon form button, button {
  border: 0;
  background-color: var(--acent-color);
  color: var(--primary-color);
  border-radius: 2px;
  font-weight: 500;
  padding: 11px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wraper .logon form button:disabled, button:disabled  {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

.link-cad {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.link-cad i {
  margin-right: 10px;
  color: var(--acent-color);
}
.link-cad a {
  text-decoration: none;
  color: #f1f1f1;
}

.store-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sub-info {
  width: 100%;
  max-width: 350px;
}

.sub-info .link-cad {
  justify-content: start;
}
.sub-info svg {
  fill: var(--acent-color);
  width: 220px;
  height: 220px;
}
.sub-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-container form {
  width: 100%;
  max-width: 310px;
  display: flex;
  flex-direction: column;
}

.sub-container .sub-info p {
  margin-top: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.input-box {
  display: flex;
}
.input-box input:first-child {
  width: 80px;
  margin-right: 10px;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.search {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search form {
  margin-top: 20px;
  display: flex;
}

.search form input, select {
  margin: 0;
  border-radius: 4px 0 0 4px!important;
}
.search form input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.search form button {
  padding: 0 10px;
  border-radius: 0 4px 4px 0!important;
}
.search-content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.search-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 8px;
  position: relative;
  cursor: pointer;
  transition: all 100ms linear;
}

.search-content div:hover {
  /* background-color: #22222b; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.search-content div strong {
  margin-bottom: 10px;
  font-size: 12px;
}

.search-content div span {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
}
.content {
  padding: 20px;
}
.page-content form {
  display: flex;
  flex-direction: column;
}

.page-content form input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.page-content form select {
  margin-bottom: 10px;
}

.page-content form .input-box input:last-child {
  width: 100%;
}

.title-page {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255, .1);
}
.title-page h1 {
  font-weight: 400;
}
.title-page span {
  color: rgba(255,255,255, .3);
}

.loading {
  width: 24px;
  height: 24px;
  border: 4px solid transparent;
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: rotate 1000ms linear infinite;

}
.error {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: #ff0000;
  animation: error linear 2000ms forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes error {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}