<div class="title-page">
  <h1>Ordem de Serviço</h1>
  <span>Cadastro de OS</span>
</div>
<div class="page-content">
  <form>
    <select name="client_id" id="client_id">
      <option>Selecione o cliente</option>
    </select>
    <select name="product_id" id="product_id">
      <option>Selecione o Produto</option>
    </select>
    
    <input type="text" placeholder="Condição" name="condition">
    <input type="text" placeholder="Defeitos" name="defects">
    <input type="text" placeholder="Acessórios" name="accessories">
    <input type="text" placeholder="Solução" name="solution">
    <input type="text" placeholder="Lauto" name="report">
    <input type="text" placeholder="Garantia" name="terms">
    <input type="text" placeholder="Valor" name="value">
  
    <button type="submit">Cadastrar</button>
  </form>
</div>