<div class="title-page">
  <h1>Produto</h1>
  <span>Cadastro de produtos</span>
</div>
<div class="page-content">
  <form>
    <input type="text" placeholder="Tipo de produto" name="type">
    <input type="text" placeholder="Marca" name="brand">
    <input type="text" placeholder="Modelo" name="model">
    <input type="text" placeholder="SN/IMEI" name="sn">
    <select name="client_id" id="client_id">
      <option>Selecione o cliente</option>
    </select>
    <button type="submit">Cadastrar</button>
  </form>
</div>